<%- include('partials/header') -%>

<div class="container-fluid title mb-3" align="center">Hello <%= user.userName %></div>

<div class="container-fluid" align="center">
  <a href="/expense/add" class="btn btn-secondary mb-5">Add expense</a>
  <a href="income/add" class="btn btn-primary">Add income</a>
</div>

<div class="container-fluid" align="center">
  <div class="card w-96 bg-base-100 shadow-xl" align="left">
    <div class="card-body">
      <div class="card-title">Totals</div>
      <p>Daily:</p>

      <p>Weekly:</p>
      <p>Monthly:</p>
      <p>Annually:</p>
    </div>
  </div>
  </div>
</div>

<div class="card-body">
  <div class="overflow-x-auto">
    <table class="table table-zebra w-full">
      <!-- head -->
      <thead>
        <tr>
          <th></th>
          <th>Expense</th>
          <th>Cost</th>
          <th>How often?</th>
          <th>Daily</th>
          <th>Weekly</th>
          <th>Monthly</th>
          <th>Yearly</th>
        </tr>
      </thead>
      <tbody>
        <!-- Row -->
        <% for (let i=0; i < expenses.length; i++) { %>
          <tr>
            <th></th>
            <td>
              <a href="/expense/<%=expenses[i]._id%>"><%= expenses[i].expense %></a>
            </td>
            <td><%= expenses[i].cost %></td>
            <td>
              <!-- todo: Figure out how to render frequency values -- this was working before?? -->
              <% for (frequency in expenses[i]) { %>
                <% if (expenses[i].frequency) { %>
                   <% if (expenses[i][frequency].num > 1) { %>
                    Every <%= expenses[i][frequency].num %> <%= expenses[i][frequency].unit %>s
                   <% } else if (expenses[i][frequency].num === 1) { %>
                    Every <%= expenses[i][frequency].num %> <%= expenses[i][frequency].unit %>
                   <% } %>
                <%}%>
             <%}%>
            </td>

            <!-- Daily -->
            <td>
              <!-- todo: FIX THIS -- BAD MATH -->
              <% for (frequency in expenses[i]) { %>
                <% if (expenses[i].frequency) { %>
                  <!-- Day -->
                  <% if (expenses[i][frequency].unit === 'day') { %>
                    $<%= expenses[i].cost / expenses[i][frequency].num %>
                    <!-- Week -->
                   <% } else if (expenses[i][frequency].unit === 'day') { %>
                    $<%= expenses[i].cost / (7 / expenses[i][frequency].num) %>
                    <!-- Month -->
                   <% } else if (expenses[i][frequency].unit === 'month') { %>
                    $<%= expenses[i].cost / (30 / expenses[i][frequency].num) %>
                    <!-- Year -->
                   <% } else if (expenses[i][frequency].unit === 'year') { %>
                    $<%= expenses[i].cost / (365 / expenses[i][frequency].num) %>
                   <% } %>
                <%}%>
             <%}%>
            </td>

            <!-- Weekly -->
            <td></td>

            <!-- Monthly -->
            <td></td>

            <!-- Yearly -->
            <td>
              <% for (frequency in expenses[i]) { %>
                <% if (expenses[i].frequency) { %>
                  <!-- Day -->
                  <% if (expenses[i][frequency].unit === 'day') { %>
                    $<%= (365 / expenses[i][frequency].num) * expenses[i].cost %>
                    <!-- Week -->
                   <% } else if (expenses[i][frequency].unit === 'day') { %>
                    $<%= (52 / expenses[i][frequency].num) * expenses[i].cost %>
                    <!-- Month -->
                   <% } else if (expenses[i][frequency].unit === 'month') { %>
                    $<%= (12 / expenses[i][frequency].num) * expenses[i].cost %>
                    <!-- Year -->
                   <% } else if (expenses[i][frequency].unit === 'year') { %>
                    $<%= (expenses[i][frequency].num) * expenses[i].cost %>
                   <% } %>
                <%}%>
             <%}%>
            </td>
          </tr>
        <% } %>
  
      </tbody>
    </table>
  </div>
</div>
  
<%- include('partials/footer') -%>