<%- include('partials/header') -%>

<div class="container-fluid title mb-3" align="center">Hello, <%= user.userName[0].toUpperCase() + user.userName.slice(1) %>!</div>

<div class="container-fluid" align="center">
  <a href="/expense/add" class="btn btn-secondary mb-5">Add expense</a>
  <a href="income/add" class="btn btn-primary">Add income</a>
</div>

<div class="flex flex-col-reverse" >
  <div class="card-body">
    <div class="overflow-x-auto">
      <table class="table table-zebra w-full">
        <!-- head -->
        <thead>
          <tr>
            <th>Expense</th>
            <th>Cost</th>
            <th>How often?</th>
            <th>Daily</th>
            <th>Weekly</th>
            <th>Monthly</th>
            <th>Yearly</th>
          </tr>
        </thead>
        <tbody>
          <% let dailyTotal = [] %>
          <% let weeklyTotal = [] %>
          <% let monthlyTotal = [] %>
          <% let yearlyTotal = [] %>

          <% let dailyIncomeTotal = [] %>
          <% let weeklyIncomeTotal = [] %>
          <% let monthlyIncomeTotal = [] %>
          <% let yearlyIncomeTotal = [] %>

          <% for (let j = 0; j < incomes.length; j++) { %>
            <% dailyIncomeTotal.push(incomes[j].daily) %>
            <% weeklyIncomeTotal.push(incomes[j].weekly) %>
            <% monthlyIncomeTotal.push(incomes[j].monthly) %>
            <% yearlyIncomeTotal.push(incomes[j].yearly) %>
          <% } %>

          <!-- Row -->
          <% for (let i=0; i < expenses.length; i++) { %>
            <% dailyTotal.push(expenses[i].daily) %>
            <% weeklyTotal.push(expenses[i].weekly) %>
            <% monthlyTotal.push(expenses[i].monthly) %>
            <% yearlyTotal.push(expenses[i].yearly) %>
            <tr>
              <!-- Expense -->
              <td>
                <a href="/expense/<%=expenses[i]._id%>"><%= expenses[i].expense %></a>
              </td>
  
              <!-- Cost -->
              <td>$<%= expenses[i].cost.toFixed(2) %></td>
              
              <!-- Frequency loop -->
              <% if (expenses[i].frequency) { %>
                <% let num = expenses[i].frequency.num %>
                <% let unit = expenses[i].frequency.unit %>
              
              <!-- How often? -->
              <td>
                  <% if (num > 1) { %>
                    Every <%= num %> <%= unit %>s
                   <% } else if (num === 1) { %>
                    Every <%= unit %>
                   <% } %>
              </td>
  
              <!-- Daily -->
              <td>
                <%= expenses[i].daily %>
              </td>
  
              <!-- Weekly -->
              <td>
                <%= expenses[i].weekly %>
              </td>
  
              <!-- Monthly -->
              <td>
                <%= expenses[i].monthly %>
              </td>
  
              <!-- Yearly -->
              <td>
                <%= expenses[i].yearly %>
              </td>
  
              <% } %>
            </tr>
          <% } %>
    
        </tbody>
      </table>
    </div>
  </div>
  
  <div class="container-fluid" align="center">
    <div class="card w-96 bg-base-100 shadow-xl" align="left">
      <div class="card-body">
        <div class="grid grid-cols-2 gap-3">
          <div class="col">
            <div class="card-title">Total Expenses</div>
            <p>Daily: $<%= dailyTotal.reduce((a,b) => Number(a) + Number(b), 0).toFixed(2) %></p>
            <p>Weekly: $<%= weeklyTotal.reduce((a,b) => Number(a) + Number(b), 0).toFixed(2) %></p>
            <p>Monthly: $<%= monthlyTotal.reduce((a,b) => Number(a) + Number(b), 0).toFixed(2) %></p>
            <p>Annually: $<%= yearlyTotal.reduce((a,b) => Number(a) + Number(b), 0).toFixed(2) %></p>
          </div>
          <div class="col">
            <div class="card-title">Total Income</div>
            <p>Daily: $<%= dailyIncomeTotal.reduce((a,b) => Number(a) + Number(b), 0).toFixed(2) %></p>
            <p>Weekly: $<%= weeklyIncomeTotal.reduce((a,b) => Number(a) + Number(b), 0).toFixed(2) %></p>
            <p>Monthly: $<%= monthlyIncomeTotal.reduce((a,b) => Number(a) + Number(b), 0).toFixed(2) %></p>
            <p>Annually: $<%= yearlyIncomeTotal.reduce((a,b) => Number(a) + Number(b), 0).toFixed(2) %></p>
          </div>
        </div>
      </div>
    </div>
    </div>
  </div>
</div>

<div style="height: 40px"></div>

<%- include('partials/footer') -%>
<%- include('partials/nav_bottom') -%>